body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('CarlAltDeleteArtboard5.png') center/cover no-repeat; /* Replace 'your-background-image.jpg' with the path to your image */
    color: #61dafb;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

#pongCanvas {
    position: fixed;
    top: 0;
    left: 0;
}
