body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #282c34;
    color: #61dafb;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

#pongCanvas {
    position: fixed;
    top: 0;
    left: 0;
}
